# Node
node_modules/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Docker volumes (por si acaso)
db_data/

# Drupal files (más adelante)
sites/default/files

# IDE
.vscode/

#Otros
desktop.ini

#Entorno python para crear embedding
venv/
.venv/
venv-linux/
__pycache__/
*.pyc

## Otros
ELIMINAR - Documentos/
web2/
tools/
Memoria/
ollama-local/
estructura.txt
Start.bat